{% extends 'gamer_hub/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{ selecteduser.username }}
{% endblock %}



{% block body_block %}


<link href="http://v4-alpha.getbootstrap.com/examples/album/album.css" rel="stylesheet">
<link href="http://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">


<section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">{{ selecteduser.username }}'s Profile</h1>
        <hr/>
      </div>
    </section>

<div class="jumbotron" style="position: relative; top: -100px">
        
        <div class="lead">
                {% if userprofile.picture %}
                    <img  src="{{ MEDIA_URL }}{{ userprofile.picture }}"
                         width="250"
                         height="250"
                         alt="{{ selecteduser.username }}"/>
                {% else %}
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?d=mm&f=y" width="250px" height="250px" alt="{{ user.username }}"/>
                {% endif %}

            </div>
        
      </div>

        <div class="medium-9 columns" style="position: relative; top: -140px">
                <p>
                    {% if selecteduser.username == user.username %}
                        <form class="form-signin" role="form" method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                        <p>
                            <label>Email: {{ selecteduser.email }}</label>
                        <p>
                            <label for="id_mygames" style="padding-right:38px class="sr-only">My Games: {{ userprofile.mygames }}</label>
                            <input type="text" id="id_mygames" class="form-control" name="mygames"
                                   placeholder="Favorite games">

                        <p>
                            <label for="id_bio" style="padding-right:38px">Bio: {{ userprofile.bio }}</label>
                            <textarea style="max-height:200px" id="id_bio" class="form-control" name="bio"
                                      placeholder="Describe yourself here..."></textarea>

                        <p>
                            <label for="id_picture" style="padding-right:17px">Profile Picture: </label>
                            <input type="file" id="id_picture" name="picture">


                        <div class="input-group">
                            <div class="input-group-button">
                                <input class="button_submit" type="submit" style="margin:  0 30px 0 0 ;"
                                       value="Update"/>
                            </div>
                            </form>


                        </div>
                        </div>
                        </div>

                    {% else %}

                        <p style="padding-left:300px"><strong>My games:</strong> {{ userprofile.mygames }} </p>
                        <p style="padding-left:300px"><strong>Bio:</strong> {{ userprofile.bio }}</p>

        {% endif %}
    </div>


{% endblock %}
    

