{% extends 'gamer_hub/base.html' %}
{% load staticfiles %}
{% block title_block %}
  {{genre}}
{% endblock %}

{% block body_block %}

<link href="http://v4-alpha.getbootstrap.com/examples/album/album.css" rel="stylesheet">




<section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">{{genre}}</h1>
      </div>
      <hr/>
    </section>

 
<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar" style="position: relative; left: ; top: -50px">
          <div class="list-group">
            <a class="list-group-item active" style="color: white">Search By Genre</a>
            {% for genre in genres %}
                <a class="list-group-item" href="{% url 'show_genre' genre=genre%}">{{genre}}</a>
            {% endfor %}
          </div>
        </div><!--/span-->
      </div><!--/row-->
<p></p>
      <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar" style="position: relative; left: ; top: -50px">
          <div class="list-group">
            <a class="list-group-item active" style="color: white">Search By Platform</a>
            {% for platform in platforms %}
                <a class="list-group-item" href="{% url 'show_platform' platform_slug=platform.slug%}">{{platform}}</a>
              {% endfor %}
          </div>
        </div><!--/span-->
      </div><!--/row-->



      

<div class="container" style="position: relative; bottom: 680px; left: 350px">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          <p class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
          </p>
         
          
     
            {% for game in games_rating %}
            

                    <div class="medium-2 columns text-center float-left" style="padding-right: 2%; padding-bottom: 2%">
                   {% if game.picture %}
                            <a href="{% url 'show_game' game.slug %}"> <img  src="{{ MEDIA_URL }}{{ game.picture }}"
                         width="356"
                         height="280"
                         alt="{{ selectedgame.title }}"/></a>
                        {% else %}
                           <a href="{% url 'show_game' game.slug %}"><img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?d=mm&f=y" width="356px" height="280px" alt="{{ user.username }}"/></a>
                        {% endif %}


                        <h4 class="list-group-item-heading">
                            <a href="{% url 'show_game' game.slug %}">{{ game }}</a>
                        </h4>
                    </div>
                    {% if forloop.counter|divisibleby:200 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            
          </div><!--/row-->
        </div><!--/span-->
      

{% endblock %}
