{% extends 'gamer_hub/base.html' %}
{% load staticfiles %}
{% block title_block %}
	{{game}}
{% endblock %}


{% block body_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="http://v4-alpha.getbootstrap.com/examples/album/album.css" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
    <script src="{% static 'js/ajax-setup.js' %}"></script>


<section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">{{game}}</h1>
        <hr/>
      </div>
    </section>

			
				<div style="padding-left: 58%; position: relative; top: -30px" class="rating-block">
					<h4>Average user rating</h4>
					<h2 class="bold padding-bottom-7"> {{ avg_rating }}<small>/ 10</small></h2>
					<p></p>
					<h4 style="padding-top: 4%">Description</h4>
					<p>{{ game.game_info }}</p>
					
				</div>
			</div>
        <div class="large-10 large-centered columns text-center">
      		
        
    </div>
    <p></p>
    <div class="row column">
        <p></p>
    </div>
	
	<div style="position: relative; left: 13%; top: -320px">
	    <ul>
	    	{% if game.picture %}
                    <img  src="{{ MEDIA_URL }}{{ game.picture }}"
                         width="300"
                         height="300"
                         alt="{{ selectedgame.title }}"/>
                {% else %}
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?d=mm&f=y" width="250px" height="250px" alt="{{ user.username }}"/>
                {% endif %}	
		</ul>

	</div>





<div style="padding-left: 16.6%; position: relative; top: -300px">
	<h4 style="padding-top: 5%">Trailer</h4>
	<hr/ class="col" >
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{game.youtube_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<h4 style="padding-top: 8%">Top Reviews</h4>
	{% for review in top_reviews %}
	<div class="row">
			<div class="col-sm-7">
				<hr/>
				<div class="review-block">
					<div class="row">
						<div class="col-sm-3">
							{% if review.user.picture %}
							<img src="{{ MEDIA_URL }}{{ review.user.picture }}" class="img-rounded"
							width="100"
							height="100"
							alt="{{ selecteduser.username }}"/>
							{% else %}
           					 <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?d=mm&f=y" alt="{{ user.username }}" class="img-rounded"/>
        					{% endif %}
							<div class="review-block-name"><a href="{% url 'profile' review.user.user.username %}">{{ review.user.user.username }}</a></div>
							<div class="review-block-date">Rating: {{ review.score }}</div>
						</div>
						<div class="col-sm-9" id={{review}}>

							<div class="review-block-description">{{ review.content }}</div>
							 {% if user.is_authenticated %}
					<div class="vote-buttons" style="padding-left: 70%; padding-top: 6%">
					{% if review in reviews_upvoted  %}
						<i class="fa fa-arrow-circle-up" data-review={{review}} data-csrf={{csrf_token}} style="font-size:28px;color:black"></i>
					{% else %}
						<i class="fa fa-arrow-circle-o-up" data-review={{review}} data-csrf={{csrf_token}} style="font-size:28px;color:black"></i>
					{% endif %}
						<span>{{ review.points }}</span>
					{% if review in reviews_downvoted  %}
						<i class="fa fa-arrow-circle-down" data-review={{review}} data-csrf={{csrf_token}} style="font-size:28px;color:black"></i>
					{% else %}
						<i class="fa fa-arrow-circle-o-down" data-review={{review}} data-csrf={{csrf_token}} style="font-size:28px;color:black"></i>
					{% endif %}
					{% ifequal user review.user.user %}
						<form action="{% url 'delete_view' review %}">
							<input type="submit" value="Delete Review" />
						</form>
					{% endifequal %}
					</div>
                {% endif %}
						</div>

					</div>
					
					
				
				</div>
			</div>
		</div>

		{% endfor %}
	</div>
		
		<div style="position: relative; left: 15%; top: -250px; padding-bottom: 5%;">
		{% if user.is_authenticated %}
		<form id="add_review_form" method="post" style="width: 60%;">
			{% csrf_token %}

			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
			<input type="submit" name="submit" value="Add Review"/>
		</form>
		{% endif %}
	</div>
    </div> <!-- /container -->



{% endblock %}
